/* AUTH SPECIFIC STYLES */
.user-avatar-large {
    margin-bottom: 1rem;
}

#auth-profile {
    display: none;
    position: absolute;
    inset: 0;
    background-color: #0a0a0a;
    border: 1px solid var(--border-med);
    border-radius: 0.75rem;
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#auth-profile.show {
    display: flex;
}